header {
  width: 100%;
  background-color: $base-color;
  .container {
    max-width: 1200px;
    margin: 0 auto;
    .navbar {
      width: 100%;
      .container-fluid {
        width: 100%;
        a {
          img {
            width: 50px;
          }
        }
        .collapse {
          .navbar-nav {
            width: 50%;
            display: flex;
            justify-content: space-between;
            a {
              color: $base-color2;
            }
            :hover {
              color: $base-color2-hover;
            }
          }
        }
      }
    }
  }
}
