.s-1 {
  background-color: $base-color1;
  padding-top: 60px;
  padding-bottom: 2000px;
  .contaner {
    max-width: 1200px;
    margin: 0 auto;
    .carousel {
      border-radius: 55px 55px 55px 55px;
    }
  }
}
